.loading-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

.normal {
  width: 32px;
  height: 32px;
  border-width: 4px;
}

.small {
  width: 20px;
  height: 20px;
  border-width: 4px;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
