:root {
  --primary-color: #004e78;
  --background: #ffffff;
  --secondary-background: #efefef;
  --yes: #4bbd39;
  --no: #ef6363;
  --neutral: #757575;
}

input,
textarea {
  font-family: "Chivo", sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
}

.nav h1 {
  font-size: 2.1em;
  font-weight: 600;
}

.nav .nav-list {
  display: flex;
  align-items: center;
}

.nav .nav-list div {
  margin: 0 25px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav-list a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 0.9em;
}

.nav-login {
  border: 1px solid white;
  border-radius: 15px;
  width: 109px;
  padding: 15px;
  min-width: 185px;
}

.nav-login:hover {
  border: 1px solid lightgray;
  transition: border 0.2s;
  color: lightgray;
}

.nav-login a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.nav-login img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* club */

.club-body {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.club-body::-webkit-scrollbar {
  display: none;
}

.club-body {
  -ms-verflow-style: none;
  scrollbar-width: none;
}

.cancel-btn {
  color: var(--no) !important;
  border: 1px solid var(--no) !important;
}

.cancel-btn:hover {
  color: white !important;
  background-color: var(--no) !important;
}

.club-header-wrapper {
  width: 100%;
  height: 130px;
  background-color: var(--secondary-background);
  color: white;
}

.club-header {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  height: 100%;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.club-header-left h2 {
  color: black;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 7.5px;
}

.club-header-left .club-header-nav {
  display: flex;
  gap: 20px;
  padding-top: 7.5px;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.club-header-link {
  padding: 7px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
}

.club-header-nav .club-header-link:hover {
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  transition: border 0.2s;
}

.member-dropdown {
}

.tag-choose {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tag-choose button {
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  padding: 5px 10px;
  background-color: white;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
}

.tag-choose button:hover,
.add-tag-tag button:hover,
.add-tag-date button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.2s;
}

.add-tag-tag,
.add-tag-date {
  display: flex;
  gap: 10px;
  align-items: center;
}

.add-tag-tag select,
.add-tag-tag button,
.add-tag-date input,
.add-tag-date button {
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  padding: 5px 10px;
  background-color: white;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
}

.club-header-link.selected {
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  color: var(--primary-color);
  font-weight: 700;
}

.club-header-right {
  color: #757575;
  font-size: 15px;
}

.filter-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
}

.filter-container select {
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  padding: 5px 10px;
  background-color: white;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
}

.filter-container select:focus {
  outline: none;
}

/* club main */
.club-main {
  padding: 30px;
  display: grid;
  height: calc(100vh - 230px);
  gap: 25px;
  width: 100%;
  grid-template-columns: repeat(19, 1fr);
}

.description,
.important-dates,
.filter,
.members {
  border-radius: 15px;
}

/* 5:10:4 */
/* 171:146:263 */

aside {
  grid-column-start: 1;
  grid-column-end: 6;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-row-start: 1;
  grid-row-end: 4;
}

.description,
.important-dates,
.filter,
.members {
  background-color: var(--secondary-background);
  padding: 20px;
  text-align: center;
}

.description p,
.important-dates p,
.filter p {
  font-size: 12px;
  padding: 8px;
  color: #757575;
}

.description h1,
.important-dates h1,
.filter h1 {
  color: var(--primary-color);
}

.dates {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
}

.dates .date {
  padding: 4px;
}

.date-container {
  background-color: black;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.join-right-btn {
  margin-top: 10px;
  padding: 7px 15px;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 15px;
}

.join-right-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.2s;
}

.requested {
  background-color: #757575 !important;
  cursor: not-allowed !important;
  color: white !important;
  border: none !important;
}

.announcements::-webkit-scrollbar {
  display: none;
}

.announcements {
  grid-column-start: 6;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: 0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-verflow-style: none;
  scrollbar-width: none;
  gap: 25px;
}

.announcement {
  width: 100%;
  background-color: var(--secondary-background);
  border-radius: 15px;
  padding: 25px;
}

.announcement-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.announcement-top p {
  font-size: 12px;
  color: #757575;
}

.announcement-top .announcement-author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.announcement-author:hover {
  cursor: pointer;
}

.announcement-author img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.announcement-author h3 {
  font-size: 18px;
  padding: 7px;
  line-height: 21.5px;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
}

.announcement-tags {
  display: flex;
  gap: 15px;
  margin-left: 40px;
}

.announcement-tags .tag {
  padding: 7px 10px;
  width: auto;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement-body {
  padding: 20px 0px;
  margin-left: 40px;
}

.announcement-body p {
  font-size: 15px;
  line-height: 14px;
  font-weight: 400;
  color: #757575;
}

.announcement-body img {
  max-width: 80%;
  padding-top: 20px;
}

.members {
  grid-column-start: 16;
  grid-column-end: 20;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 100%;
  overflow-y: scroll;
}

.filter.right {
  grid-column-start: 16;
  grid-column-end: 20;
}

.members::-webkit-scrollbar {
  display: none;
}

.members {
  -ms-verflow-style: none;
  scrollbar-width: none;
}

.members h1 {
  color: var(--primary-color);
  font-size: 25px;
}

.main-member-list {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 15px;
  align-items: center;
}

.member-bar-member-wrapper {
  width: 80%;
  display: flex;
  justify-content: left;
  padding: 5px;
  gap: 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  align-items: center;
  color: #757575;
  max-height: 40px;
}

.member p {
  text-overflow: ellipsis !important;
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
}

.member {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 10px;
  border: 1px solid transparent;
  border-radius: 15px;
  align-items: center;
  color: #757575;
  max-height: 40px;
  width: 100%;
}

.member:hover {
  cursor: pointer;
  border: 1px solid black;
  transition: border 0.2s;
}

.main-member-list .member img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  object-position: center;
  background-color: lightgray;
  border-radius: 12.5px;
}
/* 
@media (max-height: 675px) {
  .members {
    display: none;
  }

  .filter.left {
    display: none;
  }
}
@media (min-height: 675px) {
  .filter.right {
    display: none;
  }
} */

.filter h1 {
  font-size: 1.5em;
}

/* Members page */
.club-members-page,
.club-attendance-page,
.club-dues-page {
  width: 100%;
  padding: 30px 180px;
}

.club-members-page section,
.club-attendance-page section,
.club-dues-page section {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.club-members-page section h2,
.club-attendance-page section h2,
.club-dues-page section h2 {
  color: var(--primary-color);
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  padding: 7px 0px;
}

.member-page-member {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 5px 20px;
}

.member-dropdown {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  animation: slide-down 0.7s;
  padding: 10px 0px;
  border-top: 1px solid gray;
  opacity: 1;
  height: calc(100% - 10px);
}

@keyframes slide-down {
  0% {
    opacity: 0;
    height: 0;
    padding: 0px;
    overflow: hidden;
    border-top: 0px;
  }

  100% {
    opacity: 1;
    padding: 10px 0px;
    height: calc(100% - 10px);
    border-top: 1px solid gray;
  }
}

.button-promote-demote {
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid var(--neutral);
  color: var(--neutral);
  font-size: 14px;
  background-color: white;
}

.button-promote-demote:hover {
  cursor: pointer;
  background-color: var(--neutral);
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.button-remove {
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid var(--no);
  color: var(--no);
  font-size: 14px;
  background-color: white;
}

.button-remove:hover {
  cursor: pointer;
  background-color: var(--no);
  color: white;
  transition: background-color 0.2s, color 0.2s;
}

.member-dropdown-left {
}
.member-dropdown-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.person-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
}

.person {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
}

.person img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.person h4 {
  font-size: 16px;
  line-height: 19.04px;
  font-weight: 400;
  color: #757575;
}

.ellipsis {
  font-size: 18px;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipsis:hover {
  cursor: pointer;
}

.member-yes-no {
  display: flex;
  justify-content: right;
  padding: 5px 0px;
  gap: 15px;
}

.member-yes-no div {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-yes-no div:hover {
  cursor: pointer;
}

.member-yes-no .member-yes {
  height: 33px;
  width: 33px;
  border-radius: 5px;
  background-color: var(--yes);
}

.member-yes-no .member-no {
  height: 33px;
  width: 33px;
  border-radius: 5px;
  background-color: var(--no);
}

.attendance-yes-no {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 15px;
}

.attendance-yes-no div {
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid;
}

.attendance-yes-no div:hover {
  cursor: pointer;
}

.attendance-yes-no .attendance-yes.selected {
  background-color: var(--yes);
  color: white;
}

.attendance-yes-no .attendance-neutral.selected {
  background-color: var(--neutral);
  color: white;
}

.attendance-yes-no .attendance-no.selected {
  background-color: var(--no);
  color: white;
}

.attendance-yes-no .attendance-yes {
  border-radius: 5px;
  border-color: var(--yes);
}

.attendance-yes-no .attendance-yes:hover {
  background-color: var(--yes);
  color: white;
  transition: background-color 0.2s;
}

.attendance-yes-no .attendance-no {
  border-radius: 5px;
  border-color: var(--no);
}

.attendance-yes-no .attendance-no:hover {
  background-color: var(--no);
  color: white;
  transition: background-color 0.2s;
}

.attendance-yes-no .attendance-neutral {
  border-radius: 5px;
  border-color: var(--neutral);
}

.attendance-yes-no .attendance-neutral:hover {
  background-color: var(--neutral);
  color: white;
  transition: background-color 0.2s;
}

.meeting select {
  /* width: 30%; */
  /* height: 50px; */
  outline: none;
  border: 1px solid var(--neutral);
  background: none;
  border-radius: 10px;
  color: var(--neutral);
  font-size: 0.9em;
  padding: 15px;
}

.ellipsis {
  margin-bottom: 5px;
  /* unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.meeting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.create-meeting {
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  outline: none;
  font-size: 0.9em;
}

.create-meeting:hover {
  background-color: var(--primary-color);
  color: white;
  transition: background-color 0.2s;
}

.delete-meeting {
  color: var(--no) !important;
  border: 1px solid var(--no) !important;
}

.delete-meeting:hover {
  background-color: var(--no) !important;
  color: white !important;
  transition: background-color 0.2s;
}

.meeting select option {
  height: 60px;
  color: black;
  border-radius: 10px;
  padding: 15px;
}

option[disabled] {
  color: #c4c4c4 !important;
}

.club-header-right-hidden {
  display: none;
}

.club-join-hidden {
  display: none;
}

.announcement-images {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 220px;
  grid-gap: 10px;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #c4c4c4; */
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.image-container .x {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement-files {
  /* margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-auto-rows: 220px;
  grid-gap: 10px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.file-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
}

.file-details {
}

.file-name {
  font-size: 1em;
  font-weight: 500;
  color: #000;
}

.file-size {
  font-size: 0.8em;
  font-weight: 500;
  color: #757575;
}

.hover-file:hover {
  background-color: #c4c4c4;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1150px) {
  .dates {
    flex-direction: column;
  }
}

@media screen and (max-width: 1030px) {
  .club-header-right-hidden {
    display: flex;
    flex-direction: column;
    color: #757575;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .club-header-right-hidden p {
    font-size: 0.8em;
  }

  .club-join-hidden {
    display: block;
    margin: 0;
    text-align: center;
    padding: 0px 15px !important;
  }

  .club-header-link {
    font-size: 0.8em;
  }

  .club-header-left h2 {
    font-size: 1.5em;
  }

  .club-header {
    /* flex-direction: column; */
  }

  .club-header-right {
    display: none;
  }

  .club-header-wrapper {
    height: 150px;
  }

  .announcements h3 {
    font-size: 0.8em;
  }

  .description h1,
  .important-dates h1,
  .filter h1,
  .members h1 {
    font-size: 1.1em;
  }

  .main-member-list .member {
    gap: 5px;
  }

  .main-member-list .member p {
    font-size: 0.6em;
  }

  .main-member-list .member img {
    height: 15px;
    width: 15px;
  }

  .description p,
  .important-dates p,
  .filter p {
    font-size: 0.7em;
  }

  .club-main {
    height: auto;
  }

  .club-members-page section h2,
  .club-attendance-page section h2,
  .club-dues-page section h2 {
    font-size: 1.1em;
  }

  .person h4 {
    font-size: 12px;
  }

  /* .person img {
    height: 25px;
    width: 25px;
  } */

  .person-wrapper {
    padding: 5px;
  }

  .attendance-yes-no div {
    height: 25px;
    width: 25px;
  }

  .meeting select {
    /* height: 25px; */
    padding: 7px;
    font-size: 0.8em;
  }

  .create-meeting {
    padding: 7px;
    font-size: 0.8em;
  }

  .member-dropdown-left div {
    font-size: 0.7em;
  }

  .button-promote-demote,
  .button-remove {
    font-size: 0.6em;
    padding: 5px;
  }

  .join-right-btn {
    font-size: 0.65em;
    padding: 5px 10px;
  }

  .club-settings-page section h2 {
    font-size: 1.1em !important;
  }

  .club-settings-page section p {
    font-size: 0.75em !important;
  }

  .club-name input,
  .club-description textarea {
    font-size: 0.75em !important;
  }

  .newTag {
    width: 150px !important;
    font-size: 0.75em !important;
  }

  .date-container-settings {
    font-size: 0.6em !important;
    width: 150px !important;
    padding: 10px !important;
  }

  .tags-left span {
    font-size: 0.7em !important;
  }

  .tag-settings {
    font-size: 0.65em !important;
    width: 150px !important;
  }

  .email-push-notifs label {
    font-size: 0.7em !important;
  }

  .leave-button {
    font-size: 0.7em !important;
    padding: 5px !important;
  }

  .send-new-announcement {
    font-size: 0.7em !important;
    padding: 5px !important;
  }

  .add-image {
    font-size: 0.7em !important;
    padding: 5px !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    gap: 5px !important;
  }

  .announcement-new {
    font-size: 0.7em !important;
    padding: 5px !important;
  }

  .tag-choose button,
  .add-tag-tag select,
  .add-tag-tag button,
  .add-tag-date input,
  .add-tag-date button {
    font-size: 0.6em !important;
    padding: 5px !important;
  }

  .announcement-tags .tag {
    font-size: 0.6em !important;
    padding: 5px 7px !important;
  }

  .date-container {
    font-size: 0.6em !important;
    padding: 6px !important;
  }

  .announcement-body p {
    font-size: 0.75em !important;
  }

  .announcement-top p {
    font-size: 0.7em !important;
  }

  .announcement {
    padding: 15px 20px !important;
  }

  .filter-container select {
    font-size: 0.7em !important;
    padding: 5px !important;
  }

  .announcement-images {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    grid-auto-rows: 170px;
  }

  .image-container img {
    width: 150px;
    height: 150px;
  }

  .image-container .x {
    width: 15px;
    height: 15px;
    font-size: 0.7em;
  }

  .file-container {
    width: 100%;
  }

  .file-name {
    font-size: 0.85em !important;
  }

  .file-size {
    font-size: 0.7em !important;
  }
}

@media screen and (max-width: 850px) {
  .bottom {
    flex-direction: column;
    align-items: center !important;
    margin-left: 0px !important;
  }

  .bottom-left {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px) {
  .club-header {
    flex-direction: column;
    text-align: center;
  }

  .club-header {
    padding: 20px;
  }

  .description h1,
  .important-dates h1,
  .filter h1,
  .members h1 {
    font-size: 1em;
  }

  .description p,
  .important-dates p,
  .filter p {
    font-size: 0.6em;
  }

  .club-header-right-hidden p {
    font-size: 0.8em;
  }

  .club-header-link {
    font-size: 0.65em;
  }

  .club-header-left h2 {
    font-size: 1.6em;
  }

  .club-header-left .club-header-nav {
    gap: 10px;
  }

  .club-header-wrapper {
    height: 140px;
  }

  .description,
  .important-dates,
  .filter,
  .members {
    padding: 12px;
  }

  /* */
  .club-members-page section h2,
  .club-attendance-page section h2,
  .club-dues-page section h2 {
    font-size: 1em;
  }
  /* 
  .person h4 {
    font-size: 12px;
  }

  .person img {
    height: 25px;
    width: 25px;
  } */

  .attendance-yes-no div {
    height: 25px;
    width: 25px;
  }

  .meeting select {
    /* height: 25px; */
    padding: 7px;
    font-size: 0.7em;
  }

  .create-meeting {
    padding: 7px;
    font-size: 0.7em;
  }

  .member-dropdown-left div {
    font-size: 0.6em;
  }

  .meeting {
    justify-content: center;
  }

  .club-members-page,
  .club-attendance-page,
  .club-dues-page {
    padding: 20px 50px;
  }

  .club-settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 50px !important;
  }

  .tag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px !important;
  }

  .tags-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .club-name,
  .club-description {
    width: 100%;
  }

  .club-name input,
  .club-description textarea {
    width: calc(100% - 20px) !important;
  }

  .email-push-notifs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .members {
    display: none;
  }

  /* .fl-r {
    display: block !important;
  }

  .announcements-div aside .filter {
    display: none;
  } */

  .club-main {
    grid-template-columns: 0 !important;
  }

  .bottom {
    flex-direction: row;
    align-items: center !important;
    margin-left: 0px !important;
  }

  .bottom-left {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 700px) {
  .description h1,
  .important-dates h1,
  .filter h1,
  .members h1 {
    font-size: 0.9em;
  }

  .description p,
  .important-dates p,
  .filter p {
    font-size: 0.5em;
  }

  .announcements {
    padding-bottom: 30px;
  }

  aside {
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 4;
    grid-row-end: 8;
  }
  .announcements {
    grid-column-start: 1;
    grid-column-end: 20;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0;
  }

  .club-main {
    gap: 0px;
  }

  .announcements {
    overflow-y: hidden;
  }
}

@media screen and (max-width: 420px) {
  .club-header-left .club-header-nav {
    gap: 5px;
    flex-direction: column;
  }

  .club-header-wrapper {
    height: auto;
  }

  .club-join-hidden {
    display: block;
    margin: 0;
    text-align: center;
    padding: 5px 15px !important;
  }

  .club-header {
    justify-content: center;
    margin: 0;
  }

  .nav-wrapper .nav h1 {
    font-size: 1.5em;
  }

  .nav-wrapper .nav .nav-login {
    margin: 0px;
  }

  .nav-wrapper .nav .nav-login a {
    font-size: 0.7em;
  }

  .nav-wrapper .nav .nav-login img {
    height: 20px;
    width: 20px;
  }

  .attendance-yes-no div {
    height: 20px;
    width: 20px;
  }

  .attendance-neutral,
  .attendance-yes,
  .attendance-no {
    font-size: 12px;
  }

  .person h4 {
    font-size: 10px;
  }

  /* .person img {
    height: 20px;
    width: 20px;
  } */

  .meeting {
    flex-direction: column;
  }

  .create-meeting,
  #meeting {
    width: 200px;
    text-align: center;
  }

  .bottom {
    flex-direction: column;
    align-items: center !important;
    margin-left: 0px !important;
  }

  .bottom-left {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 356px) {
  .member-dropdown {
    flex-direction: column;
    align-items: flex-start;
  }

  .member-dropdown-right {
    margin-top: 10px;
    gap: 5px;
  }

  .person-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .pw {
    flex-direction: row;
  }

  .attendance-yes-no {
    justify-content: flex-start;
  }

  .club-attendance-page
    section
    .member-page-member
    .person-wrapper
    .attendance-yes-no {
    margin-top: 10px;
  }

  .club-dues-page
    section
    .member-page-member
    .person-wrapper
    .attendance-yes-no {
    margin-top: 10px;
  }

  .person-wrapper {
    display: flex;
    align-items: center !important;
  }
}

.club-settings-page {
  width: 100%;
  padding: 40px 180px;
}
.club-settings-page section {
  margin-bottom: 25px;
}
.club-settings-page section h2 {
  color: var(--primary-color);
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 7px;
}

.club-settings-page section p {
  color: var(--neutral);
  padding-bottom: 10px;
}

.email-push-notifs label {
  font-size: 1.05em;
  color: var(--primary-color);
  padding: 5px;
  font-weight: 300;
}

.email-push-notifs-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  text-align: left;
}

.leave-button {
  width: 120px;
  padding: 5px 15px;
  outline: none;
  border: 1px solid var(--no);
  background: none;
  border-radius: 5px;
  color: var(--no);
  margin-top: 2px;
}

.leave-button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--no);
  transition: all 0.3s;
}

.tag {
  padding: 7px 0px;
  height: 30px;
  width: 75px;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
  color: white;
}

.tag-settings {
  padding: 7px 0px;
  height: 30px;
  width: 175px;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tag-settings .x {
  background: black;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.x:hover {
  cursor: pointer;
}

.tags-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.newTag {
  width: 175px;
  padding: 5px 0px;
  margin: 1px 0px;
  border: 1px solid var(--primary-color);
  background: none;
  border-radius: 5px;
  color: var(--primary-color);
}

.newTag.disabled {
  border: 1px solid var(--neutral) !important;
  color: var(--neutral) !important;
  cursor: not-allowed !important;
  background-color: white !important;
}

.disabled {
  border: 1px solid var(--neutral) !important;
  color: var(--neutral) !important;
  cursor: not-allowed !important;
  background-color: white !important;
}

.newTag:hover {
  cursor: pointer;
  color: white;
  background-color: var(--primary-color);
  transition: all 0.3s;
}

.club-name input {
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  padding: 5px;
  width: 250px;
  font-size: 0.9em;
  font-family: "Chivo", sans-serif;
}

.club-description textarea {
  margin-bottom: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
  padding: 5px;
  font-family: "Chivo", sans-serif;
  font-size: 0.9em;
}

.date-container-settings {
  background-color: black;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 175px;
}

.date-container-settings .x {
  background: white;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.tag-container {
  display: flex;
  gap: 100px;
}
.tags-right {
  border: 1px solid var(--primary-color);
  padding: 15px;
  border-radius: 10px;
  position: relative;
}

.tags-right h4 {
  text-align: center;
  color: var(--primary-color);

  margin-bottom: 10px;
}

.tags-right .x {
  background: black;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  right: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  font-size: 12px;
}

.tags-right input[type="text"],
.tags-right input[type="datetime-local"] {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  margin-bottom: 10px;
}

.tags-right input[type="color"] {
  width: 100%;
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin-bottom: 10px;
}

button.saveTag {
  width: 100%;
  padding: 3px 0px;
  background: none;
  color: var(--primary-color);
  outline: none;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.saveTag:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s;
}

.deleteTag {
  margin-top: 10px;
  border: 1px solid var(--no) !important;
  color: var(--no) !important;
}

.deleteTag:hover {
  cursor: pointer;
  background-color: var(--no) !important;
  color: white !important;
  transition: all 0.3s;
}

.announcement-tags {
  display: flex;
  gap: 15px;
  margin-left: 40px;
  flex-wrap: wrap;
  align-items: center;
}

/* ::placeholder {
  color: var(--neutral);
} */

.announcement-new::placeholder {
  color: var(--neutral);
}

.add-tag {
  height: 20px;
  width: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

.add-tag:hover {
  cursor: pointer;
}

.announcement-new {
  margin: 10px 0px 0px 40px;
  padding: 10px;
  font-size: 15px;
  resize: none;
  width: calc(100% - 80px);
  height: 80px;
  border: none;
  outline: none;
  background: none;
}

.announcement .bottom {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  align-items: end;
}

.add-image {
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px 20px 5px 20px;
  background: none;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 15px;
}

.bottom-left {
  display: flex;
  gap: 10px;
  align-items: center;
}

.add-image:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s;
}

input[type="file"] {
  display: none;
}

.announcement button:hover {
  cursor: pointer;
}

.send-new-announcement {
  width: 80px;
  padding: 5px 0px 5px 0px;
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid var(--primary-color);
  background-color: none;
  color: var(--primary-color);
}

.send-new-announcement:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.5s;
}
