:root {
  --primary-color: #004e78;
  --background: #ffffff;
  --secondary-background: #efefef;
  --yes: #4bbd39;
  --no: #ef6363;
  --neutral: #757575;
}

@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo", sans-serif;
}

.nav h1 {
  font-size: 2.1em;
  font-weight: 600;
}

.nav .nav-list {
  display: flex;
  align-items: center;
}

.nav .nav-list div {
  margin: 0 25px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .nav-list a {
  text-decoration: none;
  color: white;
  font-weight: 100;
  font-size: 0.9em;
}

.nav-login {
  border: 1px solid white;
  border-radius: 15px;
  width: 109px;
  padding: 15px;
  min-width: 185px;
}

.nav-login:hover {
  border: 1px solid lightgray;
  transition: border 0.2s;
  color: lightgray;
}

.nav-login a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.nav-login img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

/* club */

.club-body {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.club-body::-webkit-scrollbar {
  display: none;
}

.club-body {
  -ms-verflow-style: none;
  scrollbar-width: none;
}

.club-header-wrapper {
  width: 100%;
  height: 130px;
  background-color: var(--secondary-background);
  color: white;
}

.club-header {
  display: flex;
  margin-left: 150px;
  margin-right: 150px;
  height: 100%;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.club-header-left h2 {
  color: black;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 7.5px;
}

.club-header-left .club-header-nav {
  display: flex;
  gap: 20px;
  padding-top: 7.5px;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

.club-header-link {
  padding: 7px;
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 15px;
}

.club-header-nav .club-header-link:hover {
  cursor: pointer;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  transition: border 0.2s;
}

.club-header-link.selected {
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  color: var(--primary-color);
  font-weight: 700;
}

.club-header-right {
  color: #757575;
  font-size: 15px;
}

/* club main */
.club-main {
  padding: 30px;
  display: grid;
  height: calc(100vh - 230px);
  gap: 25px;
  width: 100%;
  grid-template-columns: repeat(19, 1fr);
}

.description,
.important-dates,
.filter,
.members {
  border-radius: 15px;
}

/* 5:10:4 */
/* 171:146:263 */

aside {
  grid-column-start: 1;
  grid-column-end: 6;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  grid-row-start: 1;
  grid-row-end: 4;
}

.description,
.important-dates,
.filter,
.members {
  background-color: var(--secondary-background);
  padding: 20px;
  text-align: center;
}

.description p,
.important-dates p,
.filter p {
  font-size: 12px;
  padding: 8px;
  color: #757575;
}

.description h1,
.important-dates h1,
.filter h1 {
  color: var(--primary-color);
  padding: 5px;
}

.dates {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 5px;
}

.dates .date {
  padding: 4px;
}

.date-container {
  background-color: black;
  border-radius: 5px;
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
}

.filter.join button {
  margin-top: 15px;
  padding: 7px 15px;
  font-size: 20px;
  border-radius: 15px;
  outline: none;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 15px;
}

.join button:hover {
  cursor: pointer;
}

.announcements::-webkit-scrollbar {
  display: none;
}

.announcements {
  grid-column-start: 6;
  grid-column-end: 16;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: 0 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -ms-verflow-style: none;
  scrollbar-width: none;
  gap: 25px;
}

.announcement {
  width: 100%;
  background-color: var(--secondary-background);
  border-radius: 15px;
  padding: 25px;
}

.announcement-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.announcement-top p {
  font-size: 12px;
  color: #757575;
}

.announcement-top .announcement-author {
  display: flex;
  align-items: center;
  gap: 5px;
}

.announcement-author:hover {
  cursor: pointer;
}

.announcement-author img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.announcement-author h3 {
  font-size: 18px;
  padding: 7px;
  line-height: 21.5px;
  font-style: normal;
  font-weight: 400;
  color: var(--primary-color);
}

.announcement-tags {
  display: flex;
  gap: 15px;
  margin-left: 40px;
}

.announcement-tags .tag {
  padding: 7px 0px;
  width: 75px;
  text-align: center;
  border-radius: 15px;
  font-size: 12px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.announcement-body {
  padding: 20px 0px;
  margin-left: 40px;
}

.announcement-body p {
  font-size: 15px;
  line-height: 14px;
  font-weight: 400;
  color: #757575;
}

.announcement-body img {
  max-width: 80%;
  padding-top: 20px;
}

.members {
  grid-column-start: 16;
  grid-column-end: 20;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 100%;
  overflow-y: scroll;
}

.filter.right {
  grid-column-start: 16;
  grid-column-end: 20;
}

.members::-webkit-scrollbar {
  display: none;
}

.members {
  -ms-verflow-style: none;
  scrollbar-width: none;
}

.members h1 {
  color: var(--primary-color);
  padding: 5px;
  font-size: 25px;
}

.main-member-list {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  gap: 15px;
}

.member {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 10px;
  border: 1px solid #757575;
  border-radius: 15px;
  align-items: center;
  color: #757575;
}

.member:hover {
  cursor: pointer;
  border: 1px solid black;
  transition: border 0.2s;
}

.main-member-list .member img {
  width: 25px;
  height: 25px;
  object-fit: cover;
  object-position: center;
  background-color: lightgray;
  border-radius: 12.5px;
}
/* 
@media (max-height: 675px) {
  .members {
    display: none;
  }

  .filter.left {
    display: none;
  }
}
@media (min-height: 675px) {
  .filter.right {
    display: none;
  }
} */

.filter h1 {
  font-size: 1.5em;
}

/* Members page */
.club-members-page,
.club-attendance-page,
.club-dues-page {
  width: 100%;
  padding: 30px 180px;
}

.club-members-page section,
.club-attendance-page section,
.club-dues-page section {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.club-members-page section h2,
.club-attendance-page section h2,
.club-dues-page section h2 {
  color: var(--primary-color);
  font-size: 22px;
  line-height: 26px;
  font-weight: 600;
  padding: 7px 0px;
}

.member-page-member {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  padding: 5px 20px;
}

.person {
  display: flex;
  align-items: center;
  gap: 10px;
}

.person img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.person h4 {
  font-size: 16px;
  line-height: 19.04px;
  font-weight: 400;
  color: #757575;
}

.ellipsis {
  font-size: 18px;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipsis:hover {
  cursor: pointer;
}

.member-yes-no {
  display: flex;
  justify-content: right;
  padding: 5px 0px;
  gap: 15px;
}

.member-yes-no div {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-yes-no div:hover {
  cursor: pointer;
}

.member-yes-no .member-yes {
  height: 33px;
  width: 33px;
  border-radius: 5px;
  background-color: var(--yes);
}

.member-yes-no .member-no {
  height: 33px;
  width: 33px;
  border-radius: 5px;
  background-color: var(--no);
}

.attendance-yes-no {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 5px 0;
  gap: 15px;
}

.attendance-yes-no div {
  height: 33px;
  width: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border: 1px solid;
}

.attendance-yes-no div:hover {
  cursor: pointer;
}

.attendance-yes-no .attendance-yes.selected {
  background-color: var(--yes);
  color: black !important;
}

.attendance-yes-no .attendance-neutral.selected {
  background-color: var(--neutral);
  color: white;
}

.attendance-yes-no .attendance-no.selected {
  background-color: var(--no);
  color: black !important;
}

.attendance-yes-no .attendance-yes {
  border-radius: 5px;
  border-color: var(--yes);
}

.attendance-yes-no .attendance-yes:hover {
  background-color: var(--yes);
  color: white;
  transition: background-color 0.2s;
}

.attendance-yes-no .attendance-no {
  border-radius: 5px;
  border-color: var(--no);
}

.attendance-yes-no .attendance-no:hover {
  background-color: var(--no);
  color: white;
  transition: background-color 0.2s;
}

.attendance-yes-no .attendance-neutral {
  border-radius: 5px;
  border-color: var(--neutral);
}

.attendance-yes-no .attendance-neutral:hover {
  background-color: var(--neutral);
  color: white;
  transition: background-color 0.2s;
}

.meeting select {
  width: 30%;
  height: 50px;
  outline: none;
  border: 1px solid var(--neutral);
  background: none;
  border-radius: 10px;
  color: var(--neutral);
  font-size: 1em;
  padding: 15px;
}

select {
  font-weight: 500;
}

.meeting select option {
  height: 60px;
  color: black;
  border-radius: 10px;
  padding: 15px;
}

option[disabled] {
  color: #c4c4c4 !important;
}

/* dues page media query */
